@font-face {
    font-family: "courier-new";
    src: url(Courier\ New.ttf);
}

div.header {
    background-color: black;
    color: #ffff04;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

div.content {
    background-color: #4ba392;

}

body,
.noMarg {
    margin: 0px;
}

div.plural-stuff {
    background-color: #4ba392;
    
}

#SPF {
    text-align: center;
}

.favi {
    max-width: 300px;
    border-radius: 10%;
}

.title {
    text-align: center;
}

